body {
  background-color: black;
  font-family: "VT323", "Courier New";
  color: white;
}

@font-face {
  font-family: 'VT323';
  font-style: normal;
  src: local('VT323'), local('VT323'), url(VT323.ttf) format('woff2');
}

#wrapper {
  background-image: url(stars.gif);
    overflow:auto;
    background-size: 195px;
    margin: auto;
    opacity: .9;
    background-color: rgba(255, 255, 255, 0.3);
    width: 850px;
    height: 700px;
    border-radius: 120px;
    border: 5px dashed white;
}

#mySketch {
  width: 800px;
  height: 250px;
  margin:auto;
  margin-top:10%;
}


h1 {
  text-align: center;
}

section {
  display: inline-block;
  float: left;
  margin-left: 75px;
}

h2 {
  font-size: 36px;
  opacity: .7;
  width: 300px;
  text-align: center;
  background: black;
  border-radius: 40px;
  padding: 10px;
}

li {
  background: white;
  text-align: center;
  opacity: .8;
  margin: auto;
  width: 200px;
  color: black;
  padding: 8px;
  margin: 10px;
  border-radius: 30px;
  font-size: 25px;
}

li:hover {
  background: black;
}

a {
  text-decoration: none;
  color: pink;
  text-shadow: 1px 1px 1px purple;
}

a:hover {
  color: purple;
  text-shadow: 1px 1px 1px pink;
}

footer {
  clear: both;
  background: white;
  opacity: .8;
  width: 60%;
  font-size: 19px;
  margin: auto;
  border-radius: 100px;
  text-align: center;
  margin-top: 40%;
}

b {
  font-size: 20px;
  color: purple;
}

p {
  background: black;
  padding: 10px;
  width:400px;
  color:white;
}

.comp {
  width:550px;
}

#mood1 {
  position:absolute;
left:5%;
}

#mood2 {
  position:absolute;
right:5%;
}

.wire{
  margin:auto;
  clear:both;
  margin-top:20px;
  margin-left:40%;
  width:25%;
}
